<div class="page-wrapper" id="canvas-bookmark">

  <app-header [subscribers]="subscribers" ></app-header>
  <div class="page-body-wrapper">
    <div class="page-body  bg-white pt-5">
      <main class="container-fluid px-md-5 px-0">
        <app-repos (subscriberEvent)="addSubscribers($event)" (projectEvent)="addProjects($event)"></app-repos>
      </main>
    </div>
    <!-- footer start-->
    <footer class="footer">
        <app-footer [projects]="projects"></app-footer>
      </footer> 
    <!-- footer End -->
  </div>
</div>
